@import "tailwindcss";
@import "./speech.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body,
body>div:first-child,
div#__next,
div#__next>div {
  background: var(--background);
  color: var(--foreground);
  font-family: "Prompt", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  min-width: 100dvw;
  min-height: 100dvh;
}

.Typewriter__cursor {
  font-size: 2.25rem !important; /* matches text-4xl */
  font-weight: 300 !important;
  color: currentColor !important;
}

@media (min-width: 1024px) {
  .Typewriter__cursor {
    font-size: 3rem !important; /* matches text-5xl */
  }
}